* {
    margin: 0;
    scroll-behavior: smooth;
}

.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgba(242, 242, 242, 0.761);
}

.one {
    width: 20%;
}

.one img {
    width: 5vmax;
}

.two {
  display: flex;
    width: 35%;
}
.two > button{
  width: 17%;
  font-size: 1vw;
  padding: 0.7vmax;
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0.287);
    color: rgba(0, 0, 0, 0.755);
    background-color: rgba(253, 253, 253, 0.163); 
    margin-left: 5px;
    transition:all 0.5s;
}
.two > button:hover{
  border: none;outline: none;color: white;font-weight: 600;background-color: tomato;font-family: Cambria;
}

.two > input {
    width: 100%;
    font-size: 1.2vmax;
    border-radius: 7px;
    padding: 0.7vmax;
    border-color: rgba(0, 0, 0, 0.287);
    color: rgba(0, 0, 0, 0.755);
    background-color: rgba(253, 253, 253, 0.163);
}
.two > input:focus{
  background-color:white  ;
  color: rgba(0, 0, 0, 0.675);
  font-weight: 500;
}

.three {
    width: 50%;
}

.three ul {
    display: flex;
}

.three ul li {
    font-size: 1.2vmax;
    margin-left: 5%;
    text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
}

.linkStyle {
    color: rgba(0, 0, 0, 0.626);
}
/* main */
.banner {
  background-image: linear-gradient(154deg, rgb(200, 76, 200),rgb(69, 69, 209));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}


.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 15vmax;
  height: 17vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}



@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}