* {
    margin: 0;
    scroll-behavior: smooth;
}

.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    background-color: rgba(242, 242, 242, 0.761);
}

.one {
    width: 20%;
}

.one img {
    width: 5vmax;
}

.two {
    width: 35%;
}

.two input {
    width: 100%;
    font-size: 1.2vmax;
    border-radius: 10px;
    padding: 0.7vmax;
    border-color: rgba(0, 0, 0, 0.287);
    color: rgba(0, 0, 0, 0.755);
    background-color: rgba(253, 253, 253, 0.163);
}

.three {
    width: 35%;
}

.three ul {
    display: flex;
}

.three ul li {
    font-size: 1.2vmax;
    margin-left: 5%;
    text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
}

.linkStyle {
    color: rgba(0, 0, 0, 0.626);
}


/* footer */

.footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    align-items: center;
}

.leftFooter {
    width: 20%;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.leftFooter>h4 {
    font-size: 1vmax;
}

.leftFooter>p {
    text-align: center;
    font-size: 1.2vmax;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.leftFooter>img {
    width: 9vmax;
    margin: 1vmax;
    cursor: pointer;
}

.midFooter {
    width: 60%;

    text-align: center;
}

.midFooter>h1 {
    font-size: 4vmax;
    color: #eb4034;
}

.midFooter>p {
    font-size: 1vmax;
    max-width: 60%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 1vmax auto;
}

.rightFooter {
    width: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightFooter>h4 {
    font-size: 1.5vmax;
    text-decoration: underline;
}

.rightFooter>a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    transition: all 0.5s;
    margin: 0.5vmax;
}

.rightFooter>a:hover {
    color: #eb4034;
}

/* main */
.banner {
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    height: 89vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner>h1 {
    margin: 5vmax;

    font: 600 2.5vmax;
    font-family: "Cambria";
}

.banner>p {
    font: 300 1.4vmax "Cambria";
}

.banner>a>button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Cambria";
}

.banner>a>button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.homeHeading {
    text-align: center;
    font-family: Cambria;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
  }
  
  .container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  .productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
  }
  
  .productCard > img {
    width: 14vmax;
    height: 50%;
  }
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.9vmax "calibri";
  }
  .productCardSpan2 {
    margin: 0.5vmax;
    font: bolder 1vmax "Cambria";
    color: tomato;

  }
  
  .productCard > p {
    font-family: "Cambria";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  /* .productCard > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  } */
  
  .productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  
    transform: translateY(-1vmax);
  }
  
  @media screen and (max-width: 600px) {
    .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Cambria";
    }
  }
/* Loader */



.loading {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
  }
  
  .loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid rgba(0, 0, 0, 0.719);
  
    border-radius: 50%;
  
    animation: loadingRotate 800ms linear infinite;
  }
  
  @keyframes loadingRotate {
    to {
      transform: rotateZ(-360deg);
    }
  }